/* remove default css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
div {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  color: #373737;
}
a:visited {
  color: inherit;
}

a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  color: #000;
  background: #ff0;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -.5em;
}
sub {
  bottom: -.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 0;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}





/*main css */
@font-face {
	font-family: 'walt-disney';
	src:url('fonts/walt_disney/waltograph42.otf') format('opentype'),
			url('fonts/walt_disney/waltographUI.ttf') format('truetype');

}

body {
	background: #FFFFFF;
	display: block;
  font-family: 'Shadows Into Light Two', cursive;
}

#container{
	width: 100%;
	overflow:hidden;
  background:url('img/me.png') no-repeat center 60px;
}

#navbar {
	width:100%;
	background: #373737;
	left:0;
	position: fixed;
	top:0;
	z-index:99;
}

#nav {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}

#nav .links {
	float: right;
	color:#F2F2F2;
	*margin-top: 15px;
	font-weight: bold;
}

#nav .links a {
	text-decoration: none;
	color: #F2F2F2;
	font-size: 15px;
	display: inline-block;
*display: inline;
	padding-top: 15px;
	height: 37px;
	margin-left: 10px;
}

#nav .links a:hover{
	padding-top: 12px;
	border-top: 3px solid #F2F2F2;
	color: #ccc;
}



#homelink
	{
	float:left;
	color:#F2F2F2;
	*margin-top: 15px;
	font-weight: bold;

	}


#homelink a {
	text-decoration: none;
	color: #F2F2F2;
	font-size: 20px;
	display: inline-block;
*display: inline;
	padding-top: 15px;
	height: 37px;
	margin-left: 10px;

}

#homelink a:hover {
	padding-top: 12px;
	border-top: 3px solid #F2F2F2;
	color: #ccc;
}

#homelink .email {
	font-size: 14px;
}



#header {
  margin:90px auto 0 auto;
  max-width: 980px;
  width:100%;
}


#header div.left-column {
  float:left;
  width: 420px;
  height: 512px;
  position: relative;
  background: url("img/O.png") no-repeat right; 
}

#header div.left-column p {
  color: #373737;
  font-size: 26px;
  position: absolute;
  right:45px;
  text-align: center;
  top:100px;
  width:217px;
}
header div.left-column span a {
  color: #373737;
  text-decoration: none;
}

#header div.left-column p span{
  border-top: 1px solid #373737;
  display: block; 
  font-size: 12px;
  margin-top: 5px;
  padding-top: 5px;
}

#header div.left-column strong {
  width: 92px;
  height: 53px;
  padding-top: 39px;
  font-weight: normal;
  position: absolute;
  font-size: 15px;
  text-transform: capitalize;
  text-align: center;
}

#header div.left-column p span {
  border-top: 1px solid #373737;
  display: block;
  font-size: 12px;
  margin-top: 5px;
  padding-top: 5px;
}

strong.android {
  background: url('img/Os.png') no-repeat center top;
  top:33px;
  right: 230px;
}

strong.python {
  background: url('img/Os.png'); no-repeat center top;
  top: 116px;
  right:303px;
}

strong.html {
  background: url('img/Os.png'); no-repeat center top;
  top:222px;
  right:323px;
}

strong.php {
   background: url('img/Os.png'); no-repeat center top;
   top:326px;
   right:293px;
}

strong.mysql {
   background: url('img/Os.png'); no-repeat center top;
   top:400px;
   right:215px;
}

#header div.right-column {
  float:left;
  position: relative;
}

#header div.right-column a {
  background: url('img/circle-arrow.png') no-repeat 0 0;
  color:#FFFFFF;
  font-size: 20px;
  height: 130px;
  padding:56px 0 0 47px;
  position: absolute;
  width:137px;
  text-decoration: none;
}

#header div.right-column a.android {
  background-position: left top;
  left: -12px;
  top: 7px;
  z-index: 100px;
}

#header div.right-column a.html {
  background-position: center bottom;
  right: 20px;
  top: 0; 
}

div.right-column .hello {
  font-size: 250px;
  margin:210px 0 0 0;
  margin-left: 20px;
  padding:0;
  line-height: 188px;
  text-shadow:2px 2px white, 1px 1px #373737;
}

div.article {
  float: left;
  font-size: 26px;
  font-weight: normal;
  margin:0;
  padding-left: 10px;
  width:547px;
}

.div-layer {
  height: 200px;
  clear:both;
  margin: 0 auto;
}

#about {
  margin: 0 auto;
  padding-top: 70px;
  max-width: 980px;
  width: 100%;
}

#about div.left-column {
  float: left;
}

#about .photo-frame {
  width: 420px;
  position:realtive;
  float:left;
  clear:both;
}

#about strong.job{
  position: absolute;
  margin-top: 390px;
  margin-left: 10px;
  background: url('img/oc.png') no-repeat center center;
  width: 153px;
  height:105px;
  text-align: center;
  font-weight:normal;
  padding-top:48px;
  color:#e3e3e3;
  font-size: 17px;

}

.photo-frame .photo {
  background:url('img/memain.png') no-repeat center center;
  width:250px;
  height:810px;
  margin: 0 auto;
}

#about div.right-column {
  float:left;
  width: 560px;
  margin-top: 20px;
}
#about div.right-column h1 {
  font-size: 26px;
  text-shadow:2px 2px white , 1px 1px #373737;
}

#about div.right-column p {
  font-size: 17px;
  margin:20px 0;
  font-family: 'The Girl Next Door', cursive;
  font-weight: bold;
}

#skills {
  clear:both;
}

.about {
  margin-left: 4px;

}

#skills a.circle {
  background:url('img/Os.png') no-repeat center center;
  text-align: center;
  float:left;
  height:92px;
  width: 92px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  cursor: pointer;
}
.about a {
  text-decoration: none;
  cursor: default !important;
}


#skills span.process {
  display: block;
  line-height: 15px;
  padding-top: 40px;
}

.skills {
  float:left;
  clear:both;
  width:100%;
  text-align: center;
  margin-left: -50px;
  position: relative;
}

#about a.download-cv {
  background: url('img/cb.png');
  text-align: center;
  display: block;
  font-size: 16px;
  width:92px;
  height: 61px;
  padding-top: 31px;
  float:left;
  color:#fff;
  cursor: pointer;
  text-transform: capitalize;
  position: absolute;
  top: 10px;
  left: 262px;
  bottom: -65px;
  text-decoration: none;  
}


#footer {
  width: 100%;
  float:left;
  background: #373737;
  bottom:0;
  position:fixed;
}

#footer .footer {
  width: 980px;
  margin: 0 auto;
  color:#f7f7f7;
  padding:12px 0;
  font-size: 13px;
  position: relative;

}

#footer .footer a {
  color: #f7f7f7;
  text-decoration: none;
}

#projects {
  margin:0 auto;
  max-width: 980px;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom:55px;
}

h2 {
  color: #373737;
  float:left;
  font-size:55px;
  font-weight: bold;
  margin-bottom: 12px;
  margin-top: 40px;
  position:relative;
  text-align: left;
  width: 100%;
}

#projects li {
  float: left;
  width: 100%;
  list-style-type:none;
}

#projects li div.holder {
  float: left;
  margin-bottom: 12px;
  margin-right: 10px;
  padding:10px;
  width: 300px;
  position: relative;
  overflow: hidden;
  background-color: #E7E7E7;
}

#projects li div.holder img {
  width:300px;
  height:180px;
  display: block;
  border:none;
}

#projects li div.holder span.view-larger {
  background-color: #F2F2F2;
  left:0;
  margin:10px;
  padding-bottom: 78px;
  padding-top:80px;
  position: absolute;
  text-align: center;
  top:0;
  width :300px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
  opacity: 0;
  filter: alpha(opacity=0);
}

#projects li div.holder:hover img {
    filter: none; /* IE6-9 */
    -webkit-filter: none; /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}


#projects li div.holder span.view-larger a {
  background-color: #373737;
  color: #fff;
  font-style: italic;
  padding: 0 2px;
}
#projects  li div.holder:hover > span.view-larger {
  opacity:100;
  filter:alpha(opacity=100);
}

#projects li div.holder:hover > span.description {
  display: block;
  bottom:0;
}

.no-margin {
  margin-left: -40px !important;

}

#projects li div.holder:nth-child(3N+3) {
  margin-right: 0;
}

#projects li div.holder span.description {
  position: absolute;
  background-color: #FFFFFF;
  width:300px;
  bottom: -50px;
  left: 0;
  color:#373737;
  padding: 10px;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition:all 0.5s;
  transition:all 0.5s;
}



#contact {
  margin:0 auto;
  width: 980px;
  padding-top: 90px;
  padding-bottom: 120px;
  overflow: hidden;
}

#contact div.left-column {
  float: left;
  width: 434px;
  display: inline-block;
}


#contact div.left-column h2 {
  margin-bottom: 12px;
}


#contact div.right-column {
  float: left;
  margin-left:18px;
  display: inline-block;
}

#contact div.right-column h2 {
  margin-bottom: 8px;
}

#contact div.right-column span {
  clear:both;
  float: left;
  margin-bottom: 6px;
  color: #373737;
  font-size: 18px;
}
#contact a {
  color:#373737;
}

#contact div.right-column #follow{
  margin-top: 20px;
  float:left;
  clear:both;
}

#follow a.circle {
  background: url("img/Os.png") no-repeat center center;
  text-align: center;
  float: left;
  height: 92px;
  width: 92px;
  display: inline-block;
  margin-right: 8px;
  position: relative;
  cursor:pointer;
}

#follow span.twitter, span.in, span.gplus, span.instagram, span.facebook {
  display: block;
  font-size: 15px;
  position: absolute;
  top:36px;
  left: 0;
  width:92px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#follow a.circle:hover > span.followme {
  display:block;
}

#follow a.twitter:hover > span.twitter {
  top:32px;
  color:#46D1FF;
}

#follow a.in:hover > span.in {
  top:32px;
  color:#0099cc;
}

#follow a.facebook:hover > span.facebook {
  top:32px;
  color:#074590;
}

#follow a.gplus:hover > span.gplus {
  top:32px;
  color:#DD4B39;
}
#follow a.instagram:hover > span.instagram {
  top:32px;
  color:#eddd9e;
}

span.followme {
  color: #373737;
  font-size: 12px;
  left: 0;
  padding-top: 37px;
  position: absolute;
  top: 12px;
  width: 92px;
  display:none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

#footer .share-social {
  float: right;
  width: 350px;
}

#footer .share-social .twitter {
  width: 98px;
  float: right;
  display: inline-block;
}

#footer .share-social .facebook {
  width: 98px;
  float: right;
  display: inline-block;
}
